/node_modules
/myproject/node_modules
/vuesplash/node_modules
/vuesplash/public
/vuesplash/docker/db/data
/public/hot
/public/storage
/storage/*.key
/vendor
.DS_Store
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
